# dependencies
node_modules
.pnpm-store

# build outputs
dist
build
coverage
.next
.vite

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*

# OS / editor
.DS_Store
Thumbs.db
.vscode/*
!.vscode/extensions.json
.idea

# database / docker
*.sqlite
*.db

# prisma generated artifacts if needed
apps/api/src/generated/prisma/**/*.map

# temp
.tmp
.cache